@font-face {
	font-family: 'icon-font';
	src:url('icon-font.woff?xfyf0y') format('woff');
	font-weight: normal;
	font-style: normal;
}

[class^="fi-"], [class*=" fi-"] {
	font-family: 'icon-font';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.fi-filter-applied:before {
	content: "\e843";
}
.fi-import:before {
	content: "\e111";
}
.fi-dashlet:before {
	content: "\e103";
}
.fi-copy:before {
	content: "\e105";
}
.fi-cut:before {
	content: "\e106";
}
.fi-paste:before {
	content: "\e107";
}
.fi-dashletmax:before {
	content: "\e110";
}
.fi-dashletmin:before {
	content: "\e109";
}
.fi-stopped:before {
	content: "\e108";
}
.fi-partnerconnectionextranet:before {
	content: "\e0c3";
}
.fi-report:before {
	content: "\e0b3";
}
.fi-triangle:before {
	content: "\e000";
}
.fi-laptops-desktops:before {
	content: "\61";
}
.fi-smartphone-tablet:before {
	content: "\62";
}
.fi-chat:before {
	content: "\4018";
}
.fi-conference:before {
	content: "\4020";
}
.fi-volume:before {
	content: "\4115";
}
.fi-cisco:before {
	content: "\e001";
}
.fi-delete:before {
	content: "\e002";
}
.fi-application:before {
	content: "\e003";
}
.fi-applications:before {
	content: "\e004";
}
.fi-user:before {
	content: "\e005";
}
.fi-running-app:before {
	content: "\e006";
}
.fi-intercom:before {
	content: "\e007";
}
.fi-intercomwhisper:before {
	content: "\e008";
}
.fi-intercomduplex:before {
	content: "\e009";
}
.fi-voicemail:before {
	content: "\e00a";
}
.fi-vmheard:before {
	content: "\e00b";
}
.fi-vmprivate:before {
	content: "\e00c";
}
.fi-vmprivateheard:before {
	content: "\e00d";
}
.fi-battery:before {
	content: "\e00e";
}
.fi-power:before {
	content: "\e00f";
}
.fi-onhold:before {
	content: "\e010";
}
.fi-calldetails:before {
	content: "\e011";
}
.fi-minor:before {
	content: "\e012";
}
.fi-edit:before {
	content: "\e013";
}
.fi-info:before {
	content: "\e014";
}
.fi-generic-feature:before {
	content: "\e015";
}
.fi-fastrewind:before {
	content: "\e016";
}
.fi-play:before {
	content: "\e017";
}
.fi-record:before {
	content: "\e018";
}
.fi-skipbackward:before {
	content: "\e019";
}
.fi-skipforward:before {
	content: "\e01a";
}
.fi-stop:before {
	content: "\e01b";
}
.fi-pause:before {
	content: "\e01c";
}
.fi-recorddevice:before {
	content: "\e01d";
}
.fi-privacy:before {
	content: "\e01e";
}
.fi-speeddial:before {
	content: "\e01f";
}
.fi-sdcard:before {
	content: "\e020";
}
.fi-adduser:before {
	content: "\e021";
}
.fi-removeuser:before {
	content: "\e022";
}
.fi-secure:before {
	content: "\e023";
}
.fi-wifi-0:before {
	content: "\e024";
}
.fi-wifi1:before {
	content: "\e025";
}
.fi-wifi2:before {
	content: "\e026";
}
.fi-wifi3:before {
	content: "\e027";
}
.fi-wifi4:before {
	content: "\e028";
}
.fi-lockkey:before {
	content: "\e029";
}
.fi-rtprx2:before {
	content: "\e02a";
}
.fi-rtprx:before {
	content: "\e02b";
}
.fi-rtprxduplicated:before {
	content: "\e02c";
}
.fi-usertransfer:before {
	content: "\e02d";
}
.fi-uniE02E:before {
	content: "\e02e";
}
.fi-missedcall:before {
	content: "\e02f";
}
.fi-alerting:before {
	content: "\e030";
}
.fi-offhook:before {
	content: "\e031";
}
.fi-callforward:before {
	content: "\e032";
}
.fi-allcalls:before {
	content: "\e033";
}
.fi-outgoingcalls:before {
	content: "\e034";
}
.fi-download:before {
	content: "\e035";
}
.fi-videomute:before {
	content: "\e036";
}
.fi-fastforward:before {
	content: "\e037";
}
.fi-callhistory:before {
	content: "\e038";
}
.fi-uniE039:before {
	content: "\e039";
}
.fi-presentation:before {
	content: "\e03a";
}
.fi-softphone:before {
	content: "\e03b";
}
.fi-wallpaper:before {
	content: "\e03c";
}
.fi-certified:before {
	content: "\e03d";
}
.fi-donotdisturb:before {
	content: "\e03e";
}
.fi-dnddisabled:before {
	content: "\e03f";
}
.fi-dndenabled:before {
	content: "\e040";
}
.fi-brightness:before {
	content: "\e041";
}
.fi-hue:before {
	content: "\e042";
}
.fi-mobilepresenter:before {
	content: "\e043";
}
.fi-mobile:before {
	content: "\e044";
}
.fi-talking:before {
	content: "\e045";
}
.fi-leavemeeting:before {
	content: "\e046";
}
.fi-line-in-unmute:before {
	content: "\e047";
}
.fi-home:before {
	content: "\e048";
}
.fi-min:before {
	content: "\e04a";
}
.fi-speakeroutright:before {
	content: "\e04b";
}
.fi-webex-socialapps:before {
	content: "\e04c";
}
.fi-webex-socialapps :before {
	content: "\e04d";
}
.fi-address:before {
	content: "\e04e";
}
.fi-usersetting:before {
	content: "\e04f";
}
.fi-mute:before {
	content: "\e050";
}
.fi-usb:before {
	content: "\e051";
}
.fi-bluetooth:before {
	content: "\e052";
}
.fi-bluetooth-add:before {
	content: "\e053";
}
.fi-btconnected:before {
	content: "\e054";
}
.fi-btdisconnect:before {
	content: "\e055";
}
.fi-trash:before {
	content: "\e056";
}
.fi-brokenimage:before {
	content: "\e057";
}
.fi-calendar:before {
	content: "\e058";
}
.fi-parked:before {
	content: "\e059";
}
.fi-phoneinfo:before {
	content: "\e05a";
}
.fi-search:before {
	content: "\e05b";
}
.fi-redial:before {
	content: "\e05c";
}
.fi-link:before {
	content: "\e05d";
}
.fi-uniE05E:before {
	content: "\e05e";
}
.fi-headset:before {
	content: "\e05f";
}
.fi-webconference:before {
	content: "\e060";
}
.fi-4waynav:before {
	content: "\e061";
}
.fi-folder:before {
	content: "\e062";
}
.fi-web-applications:before {
	content: "\e063";
}
.fi-phone-keypad:before {
	content: "\e064";
}
.fi-back:before {
	content: "\e065";
}
.fi-merge:before {
	content: "\e066";
}
.fi-clear-selection:before {
	content: "\e067";
}
.fi-help:before {
	content: "\e068";
}
.fi-critical:before {
	content: "\e069";
}
.fi-ring:before {
	content: "\e06a";
}
.fi-deskphone:before {
	content: "\e06b";
}
.fi-alarm:before {
	content: "\e06c";
}
.fi-attachment:before {
	content: "\e06d";
}
.fi-users:before {
	content: "\e06e";
}
.fi-display:before {
	content: "\e06f";
}
.fi-uniE070:before {
	content: "\e070";
}
.fi-otherphone:before {
	content: "\e071";
}
.fi-share:before {
	content: "\e072";
}
.fi-userblocked:before {
	content: "\e073";
}
.fi-pin:before {
	content: "\e074";
}
.fi-normal:before {
	content: "\e075";
}
.fi-application-services:before {
	content: "\e076";
}
.fi-partialcheck:before {
	content: "\e077";
}
.fi-statusball:before {
	content: "\e078";
}
.fi-check:before {
	content: "\e079";
}
.fi-refresh:before {
	content: "\e07a";
}
.fi-byod:before {
	content: "\e07b";
}
.fi-mobile-applications:before {
	content: "\e07c";
}
.fi-application-platforms:before {
	content: "\e07d";
}
.fi-chevron:before {
	content: "\e07e";
}
.fi-arrow:before {
	content: "\e07f";
}
.fi-gripper:before {
	content: "\e080";
}
.fi-star-half:before {
	content: "\e081";
}
.fi-star-empty:before {
	content: "\e082";
}
.fi-star-full:before {
	content: "\e083";
}
.fi-save:before {
	content: "\e084";
}
.fi-monitor:before {
	content: "\e085";
}
.fi-disable:before {
	content: "\e086";
}
.fi-setting:before {
	content: "\e087";
}
.fi-datasource:before {
	content: "\e088";
}
.fi-major:before {
	content: "\e089";
}
.fi-virtual-desktop:before {
	content: "\e08a";
}
.fi-desktop-applications:before {
	content: "\e08b";
}
.fi-filter:before {
	content: "\e08c";
}
.fi-minus:before {
	content: "\e08d";
}
.fi-export:before {
	content: "\e08e";
}
.fi-plus:before {
	content: "\e08f";
}
.fi-moveto:before {
	content: "\e090";
}
.fi-overflow:before {
	content: "\e092";
}
.fi-quickview360:before {
	content: "\e094";
}
.fi-move:before {
	content: "\e095";
}
.fi-createpage:before {
	content: "\e096";
}
.fi-meeting-idle:before {
	content: "\e097";
}
.fi-osnav:before {
	content: "\e098";
}
.fi-resize:before {
	content: "\e099";
}
.fi-troubleshoot-tools:before {
	content: "\e09a";
}
.fi-inprogress:before {
	content: "\e09b";
}
.fi-admindown:before {
	content: "\e09c";
}
.fi-chartemphasize:before {
	content: "\e09d";
}
.fi-device:before {
	content: "\e09e";
}
.fi-interface:before {
	content: "\e09f";
}
.fi-reset:before {
	content: "\e0a0";
}
.fi-chartarea:before {
	content: "\e0a1";
}
.fi-chartbar:before {
	content: "\e0a2";
}
.fi-chartbubble:before {
	content: "\e0a3";
}
.fi-chartline:before {
	content: "\e0a4";
}
.fi-chartpie:before {
	content: "\e0a5";
}
.fi-chartscatter:before {
	content: "\e0a6";
}
.fi-chartfillpattern:before {
	content: "\e0a7";
}
.fi-chartdatapoint:before {
	content: "\e0a8";
}
.fi-sitebuilding:before {
	content: "\e0a9";
}
.fi-adddashlet:before {
	content: "\e0aa";
}
.fi-layout:before {
	content: "\e0ab";
}
.fi-1column:before {
	content: "\e0ac";
}
.fi-2columnlayout:before {
	content: "\e0ad";
}
.fi-3columnlayout:before {
	content: "\e0ae";
}
.fi-4columnlayout:before {
	content: "\e0af";
}
.fi-cleanair:before {
	content: "\e0b0";
}
.fi-access-point:before {
	content: "\e0b1";
}
.fi-timezone:before {
	content: "\e0b2";
}
.fi-newreport:before {
	content: "\e0b4";
}
.fi-chartstackedbar:before {
	content: "\e0b5";
}
.fi-chartcombo:before {
	content: "\e0b6";
}
.fi-deviceservices:before {
	content: "\e0b8";
}
.fi-emailcalendaring:before {
	content: "\e0ba";
}
.fi-instant-msg:before {
	content: "\e0bb";
}
.fi-meetinginprogress:before {
	content: "\e0bd";
}
.fi-video:before {
	content: "\e0be";
}
.fi-contentmanagement:before {
	content: "\e0bf";
}
.fi-networkservices:before {
	content: "\e0c0";
}
.fi-corporatenetwork:before {
	content: "\e0c1";
}
.fi-homeremoteaccess:before {
	content: "\e0c2";
}
.fi-virtualdatacenter:before {
	content: "\e0c4";
}
.fi-printer:before {
	content: "\e0c5";
}
.fi-cloudcomputingservices:before {
	content: "\e0c6";
}
.fi-chatview:before {
	content: "\e0c7";
}
.fi-action:before {
	content: "\e0c8";
}
.fi-dashletexpand:before {
	content: "\e0c9";
}
.fi-detach:before {
	content: "\e0ca";
}
.fi-agent-wrapping-up:before {
	content: "\e0df";
}
.fi-summary:before {
	content: "\e0e2";
}
.fi-filter-locked:before {
	content: "\e0e3";
}
.fi-unknown:before {
	content: "\e0e4";
}
.fi-warning:before {
	content: "\e0e5";
}
.fi-dataconfiguration:before {
	content: "\e0e6";
}
.fi-topology:before {
	content: "\e0e7";
}
.fi-dashboard:before {
	content: "\e0e8";
}
.fi-menu-toggle:before {
	content: "\e0e9";
}
.fi-index:before {
	content: "\e0ea";
}
.fi-treeview:before {
	content: "\e0eb";
}
.fi-shoppingcart:before {
	content: "\e0ee";
}
.fi-edit-selection:before {
	content: "\e0ef";
}
.fi-check-selection:before {
	content: "\e0f0";
}
.fi-mystuff:before {
	content: "\e0f1";
}
.fi-hand:before {
	content: "\e0f2";
}
.fi-selection-arrow:before {
	content: "\e0f3";
}
.fi-marquee-zoom:before {
	content: "\e0f4";
}
.fi-interactive-zoom:before {
	content: "\e0f5";
}
.fi-zoomin:before {
	content: "\e0f6";
}
.fi-zoomout:before {
	content: "\e0f7";
}
.fi-print-preview:before {
	content: "\e0f9";
}
.fi-global-layout:before {
	content: "\e0fa";
}
.fi-incremental-layout:before {
	content: "\e0fb";
}
.fi-circular-layout:before {
	content: "\e0fc";
}
.fi-hierarchical-layout:before {
	content: "\e0fd";
}
.fi-orthogonal-layout:before {
	content: "\e0fe";
}
.fi-symmetric-layout:before {
	content: "\e0ff";
}
.fi-save-topology:before {
	content: "\e100";
}
.fi-load-topology:before {
	content: "\e101";
}
.fi-cloud:before {
	content: "\e102";
}
.fi-email:before {
	content: "\e104";
}
.fi-y-axis:before {
	content: "\e091";
}
.fi-x-axis:before {
	content: "\e093";
}

/* Custom Size Icon */

.small:before {
    font-size: 1.5em;
}
.medium:before {
    font-size: 2.0em;
}
.large:before {
    font-size: 2.5em;
}
.x-large:before {
    font-size: 3.0em;
}
